img#logo {
  height: 100px;
}

footer {
  height: 5vh;
  background-color: grey;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.obj-fit-cover {
  object-fit: cover;
}
